.listNav {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  display: inline-block;
  text-decoration: none;
  padding: 12;
  font-weight: 700;
  color: #3f51b5;
}
.link:hover,
.link:focus {
  text-decoration-line: underline;
  background-color: inherit;
}
.activeLink {
  color: #e84a5f;
}
.ItemNav {
  margin-right: 10px;
}

@media screen and (min-width: 720px) {
  .ItemNav {
    margin-right: 40px;
  }
}
