.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.span {
  display: block;
  margin-right: 10px;
}
.btnList {
  cursor: pointer;
  width: 50px;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  background-color: #3f51b5;
  font-size: 10px;
  border-radius: 4px;
  margin-left: 5px;
}
.btnList:hover,
:focus {
  color: #3f51b5;
  background-color: white;
}
.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
.link:hover,
:focus {
  color: #e84a5f;
}
.spanLink {
  display: block;
}

@media screen and (min-width: 720px) {
  .btnList {
    width: 70px;
    font-size: 16px;
  }
}
