.listAuth {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 23px;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12;
  font-weight: 700;
  color: #2a363b;
}

.link:hover,
.link:focus {
  text-decoration-line: underline;
}
.activeLink {
  color: #e84a5f;
}

.ItemAuth {
  margin-right: 40px;
}
