html {
  box-sizing: border-box;
  width: 100vw;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: 'Roboto';
  letter-spacing: 0.02em;
  background-color: rgb(245, 235, 204);
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(245, 235, 204);
} */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.NavLink {
  font-size: 20px;
  color: currentColor;
}

.NavLink--active {
  color: palevioletred;
}

::-webkit-scrollbar {
  /* 1 - скроллбар */
  width: 4px;
  height: 4px;
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
  /* 5 - ползунок */
  border-radius: 2px;
  background-color: #d1d1d1;
}
